# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_KSCAN_VIRTUAL
	bool "Virtual KScan Driver"
	default n
	select INPUT
	help
	  Enable virtual kscan driver that provides software-defined key
	  positions triggered by input events (e.g., from gpio-qdec encoders).
	  Virtual keys appear in ZMK Studio as editable positions.
