#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/studio.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* Keymap positions:
             *   0: Left encoder button
             *   1: Right encoder button
             *   2: Left CW
             *   3: Left CCW
             *   4: Right CW
             *   5: Right CCW
             */
            bindings = <
                &kp C_MUTE    &studio_unlock
                &kp C_VOL_UP  &kp C_VOL_DN
                &kp C_NEXT    &kp C_PREV
            >;
        };
    };
};
